:root {
    --color-bg-variant: ;
    --color-light: rgba(255, 255, 255, 0.6);
    --container-width-sm: 90%;
}

.container.activity__container{
    width: 40%;
    height: 45%;
}

.client__activity {
    width: 15rem; 
    height: 15rem; 
    aspect-ratio: 1/1; 
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.client__activity img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}


.activity {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__description{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.client__description {
    color: black;
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .container.activity__container {
        width: 60%;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .container.activity__container {
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }
}